@import url("./Fonts/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css");

@font-face {
    font-family: 'MyCustomFont';
    src:url('./fonts/my-custom-font.ttf') format('truetype');
  }
  body {
    font-family:"my";
  } 